version: "2"
services:
  pinpoint-hbase:
    container_name: pinpoint-hbase
    hostname: hbase
    image: goodrainapps/pinpoint-hbase:1.2.6
    restart: always
    expose:
      - "2181"
      - "16010"
    ports:
      - "2181:2181"
      - "16010:16010"

  pinpoint-mysql:
    container_name: pinpoint-mysql
    restart: always
    image: mysql:5.7
    ports:
      - "13306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root123
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=admin
      - MYSQL_DATABASE=pinpoint

  pinpoint-collector:
    container_name: pinpoint-collector
    hostname: collector
    image: goodrainapps/pinpoint-collector:1.7.0
    restart: always
    expose:
      - "9994"
      - "9995"
      - "9996"
    ports:
      - "9994:9994"
      - "9995:9995/tcp"
      - "9996:9996/tcp"
      - "9995:9995/udp"
      - "9996:9996/udp"
    environment:
      HBASE_HOST: hbase
      HBASE_PORT: 2181
      COLLECTOR_TCP_PORT: 9994
      COLLECTOR_UDP_STAT_LISTEN_PORT: 9995
      COLLECTOR_UDP_SPAN_LISTEN_PORT: 9996
      CLUSTER_ENABLE: 'true'
      CLUSTER_ZOOKEEPER_ADDRESS: hbase
      DISABLE_DEBUG: 'true'
    links:
      - pinpoint-hbase:hbase
    depends_on:
      - pinpoint-hbase

  pinpoint-web:
    container_name: pinpoint-web
    hostname: web
    image: goodrainapps/pinpoint-web:1.7.0
    restart: always
    expose:
      - "8080"
    ports:
      - "3080:8080"
    environment:
      HBASE_HOST: hbase
      HBASE_PORT: 2181
      CLUSTER_ENABLE: 'true'
      CLUSTER_ZOOKEEPER_ADDRESS: hbase
      ADMIN_PASSWORD: admin123
      DISABLE_DEBUG: 'true'
      JDBC_DRIVER: com.mysql.jdbc.Driver
      JDBC_URL: jdbc:mysql://mysql:3306/pinpoint?characterEncoding=UTF-8
      JDBC_USERNAME: admin
      JDBC_PASSWORD: admin
    links:
      - pinpoint-hbase:hbase
      - pinpoint-mysql:mysql
    depends_on:
      - pinpoint-hbase
      - pinpoint-mysql

  # web app example
  tomcat-app:
    container_name: tomcat-app
    image: goodrainapps/tomcat:8.5.20-jre8-alpine
    environment:
      AGENT_ID: 1514001354
      APP_NAME: "tomcat-app"
      ENABLE_APM: "true"
      COLLECTOR_IP: collector
      COLLECTOR_TCP_PORT: 9994
      COLLECTOR_UDP_STAT_LISTEN_PORT: 9995
      COLLECTOR_UDP_SPAN_LISTEN_PORT: 9996
      DISABLE_DEBUG: 'true'
    links:
      - pinpoint-collector:collector
    depends_on:
      - pinpoint-collector
